/* Membuat tampilan lebih responsif */
@media (max-width: 768px) {
    #table-mahasiswa {
      width: 100%;
    }
    #table-mahasiswa td:nth-child(2) {
      display: none;
    }
    #table-mahasiswa th:nth-child(2) {
      display: none;
    }
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
  /* Mengatur tampilan tabel */
  #table-mahasiswa {
    border-collapse: collapse;
    margin-top: 50px;
    font-size: 16px;
    width: 800px;
    text-align: center;
  }
  
  #table-mahasiswa th,
  #table-mahasiswa td {
    padding: 10px;
  }
  
  #table-mahasiswa th {
    background-color: #337ab7;
    color: #fff;
    font-weight: bold;
  }
  
  #table-mahasiswa td {
    border: 1px solid #ddd;
  }
  
  #table-mahasiswa tr:nth-child(even) td {
    background-color: #f2f2f2;
  }
  
  #table-mahasiswa tr:hover td {
    background-color: #e2e2e2;
    cursor: pointer;
  }
  
  /* Mengatur tampilan link */
  .link {
    color: #337ab7;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  /* Mengatur tampilan gambar */
  img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #ddd;
  }
  